:root {
  --main-color: rgb(255, 156, 231);
  --n1: rgb(125, 50, 121);
  --p1: rgb(145, 79, 156);
}

body {
  font-family: Monaco, monospace;
  background-color: var(--main-color);
  color: rgb(156, 34, 152);
}

.title {
  text-decoration: underline;
  text-decoration-color: var(--n1);
  text-decoration-thickness: 4px;
  font-size: clamp(16px, 9vw, 500px);
  color: var(--p1);
  margin-bottom: 0;
}

.main-page-main-stuff h2, a {
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 20px;
  display: inline;
  color: inherit;  /* Inherits text color from parent */
  text-decoration: none; /* Removes underline */
  font-weight: 300;
  text-align: right;
  text-decoration: underline;
  text-decoration-color: var(--n1);
  text-decoration-thickness: 2px;
}

.main-page-main-stuff h2 {
  color: var(--main-color);
}

.main-line {
  display:block;
  margin-top:0;
  margin-bottom:0;
}

.arrow {
  color: var(--main-color);
}

.main-line:hover {
  color: rgb(255, 186, 247) !important;
  text-decoration-color: rgb(255, 186, 247)
}

.main-line:hover .arrow {
  color: rgb(255, 186, 247); /* Visible on hover */
}

.main-page-main-stuff {
  margin-top: 240px;
}

.main-image {
  width: 63%;
}

.product-title {
  font-size: 110px;
  margin: 0;
}

.main-flex {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  height: 100vh;
  flex-direction: column;   
}

.secondary-flex {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin-auto;
  width: 100%;
}

.center-box {
  text-align: center;
}

.navbar {
  background-color: var(--main-color);
  border-bottom: 3px solid var(--n1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a, p {
  margin: 5px;
  font-size: 30px;
  font-weight: 50;
  display: inline;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--p1);
}

.youtube {
  width: 63%;
  aspect-ratio: 16/9;
}

hr {
  background-color: var(--p1);
  width: 63%;
  border: 0;
  height: 2px;
  margin-top: 50px;
  margin-bottom: 0; 
}

.topic-section {
  text-align:center;
  width: 63%;
}

.topic-section h2 {
  font-size: 60px;
}

.topic-section p {
  font-size: 20px;
}

#output {
  width: 100%;
  height: 100vh;
  overflow: auto; /* Scrollbar when full */
  white-space: pre; /* Keeps the ASCII format */
  padding: 10px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE/Edge */
}

#output::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}

.main-page-left {
  float: left;
  width: 53%;
  text-align: right;
  border-right: solid 2px var(--n1);
  margin-top: 0px;
}

.main-page-right {
  float: left;
  width: 40%;
}

.main-page-sections {
  margin-top: 0px;
}

.two-columns {
  display: flex;
}

.left-column {
  margin:0;
  float: left;
  width: 49.9%;
  text-align: right;
  padding-right: 20px;
  flex: 1;
  align-items: center;
}

.right-column {
  margin:0;
  float: right;
  width: 49.9%;
  text-align: left;
  border-left: solid 1px var(--n1);
  padding-left: 20px;
  flex: 1;
  align-items: center;
}
